*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
ul{
    display: flex;
    align-items: center;
}
.hero{
    padding: 30px 150px 70px 150px;
    background-color: #1f2937;
}
.logo{
    color: #f9faf8;
    font-size: 24px;

}
li{
   margin-right: 20px;
   list-style: none;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
.btn{
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 15px;
    font-weight: 600;
    border: none;
    text-align: center;
    padding: 8px 24px;
    border-radius: 10px;
}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-heading{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #f9faf8;
}
.main-text{
    margin-bottom: 10px;
    color: #f9faf8;
}
.left-container{
   margin-right: 50px;
   width: 45% ;
}
.right-container{
    background-color: rgb(132, 132, 138);
    height: 250px;
    width: 55%;
}
.information{
text-align: center;
justify-content: center;
display: flex;
}
 .info-container{
    margin-top: 40px;
    padding-bottom: 50px;
} 
.content{
    width: 800px; 
}
.heading{
    color: black;
    font-size: 35px;
    margin-bottom: 40px;

}
.image-container{
    display: flex;
    justify-content: space-between;
}
.img{
    width: 150px;
    border: 2px solid #3882f6;
    height: 150px;
    border-radius: 15px;

}
.img-content{
    width: 150px;
}
.quotation{
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
}
.quote-container{
    width: 800px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.quote-text{
    font-size: 30px;
}
.author{
    text-align: end;
    font-weight: 600;
    font-size: 20px;
}
.section-3{
    margin-top: 70px;
    width: 100%;
    margin-bottom: 70px;
}
.section-3 .parent{
    height: 100px;
    border-radius: 15px;
    width: 55%;
    background-color: #3882f6;
    margin: 0 auto;
}
.parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
}
.left{
    color: #f9faf8;
}
.sign-up{
    border: 2px solid #f9faf8;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 4px 15px;
    border-radius: 6px;
}
.footer{
    background-color: #1f2937;
    height: 80px;
    text-align: center;
color: #f9faf8;
     padding-top: 25px;
}
