*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
ul{
    display: flex;
    align-items: center;
}
.hero{
    padding: 30px 150px;
    background-color: #1f2937;
}
.logo{
    color: #f9faf8;
    font-size: 24px;

}
li{
   margin-right: 20px;
   list-style: none;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
.btn{
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 15px;
    font-weight: 600;
    border: none;
    text-align: center;
    padding: 8px 24px;
    border-radius: 10px;
}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heading{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #f9faf8;
}
.main-text{
    margin-bottom: 10px;
    color: #f9faf8;
}
.left-container{
   margin-right: 50px;
   width: 45% ;
}
.right-container{
    background-color: rgb(132, 132, 138);
    height: 250px;
    width: 55%;
}
